@import "../../variables.scss";

.profile-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.profile-wrapper > .profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: $mediumBreakpoint) {
  .profile-wrapper {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: $smallBreakpoint) {
  #profile > .row > div:first-child > .profile-wrapper {
    margin: 0 auto;
  }

  .profile-info {
    margin-top: $smallMargin;
  }
}
