extends layout

block content
    a(href="/").btn.btn-info.mb-3
        img(src="/icons/angle-left.svg").icon-sm.mr-2
        span Back to home
    .row.child-center
        .col-md-4
            img(src="/images/demo.jpg" width="100%")
            ul.list-group.mt-2
                li.list-group-item
                    span.list-title Category
                    span.list-body Lorem
                li.list-group-item
                    span.list-title Owner
                    span.list-body Admin
                li.list-group-item
                    span.list-title Price
                    span.list-body Free
                li.list-group-item.list-flex
                    span.list-item-left
                        button.btn.btn-primary Contact owner
                    span.list-item-right
                        button.btn.btn-danger Save offline
        .col-md-8
            ul.list-group
                li.list-group-item 
                    span.list-title Title: 
                    span.list-body Lorem.
                li.list-group-item 
                    span.list-title Description: 
                    span.list-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aperiam, minima ipsam inventore harum nam rerum dolorum accusamus repellendus veniam, saepe eum! Ipsum fugit, ad dolorem voluptate recusandae asperiores reprehenderit!Veritatis atque voluptatibus architecto quasi ratione? Officiis magnam voluptates aliquam doloribus deleniti error aspernatur voluptatem blanditiis veniam iste, soluta placeat reiciendis inventore corporis nisi libero totam, quam tempore repellat expedita.Officiis, maiores cum eius nulla soluta repudiandae, at deleniti nesciunt voluptatum laborum dolorum doloremque possimus architecto consectetur iure earum vel fugit omnis. Nobis eius, architecto obcaecati id libero ipsum omnis.
                li.list-group-item 
                    span.list-title Location: 
                    span.list-body Lorem.