doctype html
html
  head
    title E-shop
    link(ref="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/auth.css")
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/ad.css")
  body
    header
        #upper-header
          a(href="/") E-shop
          button(onClick="showNav()").btn Menu
        #side-nav
          ul.list-group
            li.list-group-item
              #user-avatar
                img(src="/images/avatar.jpg" alt="avatar")
                p izaan
              button(onClick="hideNav()").btn X
            li.list-group-item
              a(href="/") HOME
            li.list-group-item
                a(href="/upload") Post an ad
            if(!userId)
              li.list-group-item
                a(href="/auth/login") Login
              li.list-group-item
                a(href="/auth/signup") Register
            if(userId)  
              li.list-group-item
                a(href="/auth/logout") Logout
    #main-container
      .container
        block content
    #custom-loader Loading...
    #custom-modal lorem lorem lorem

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    script(src="/js/main.js")