extends layout

block content
    form(onSubmit="return createUser()" id="auth-form").form
        .form-group
            label Username:
            input(type="text" id="username" name="username" placeholder="Enter your name" required).form-control
        .form-group
            label Email:
            input(type="email" id="email" name="email" placeholder="Enter your email" required).form-control
        .form-group
            label Password:
            input(type="password" id="password" name="password" placeholder="Enter your password" required).form-control
        .form-group
            input(type="submit" value="Create Account").btn
            a(href="/auth/login") Already have an account? Login here