extends layout
block content
    form(onSubmit="return sendFile()" id="post-ad-form")
        .form-group
            select.form-control#category
                option(value='0' selected disabled) Select a category
                option(value="houseForSale") House for sale
                option(value="houseForRent") House for rent
                option(value="bike") Bikes
                option(value="car") Cars
                option(value="mobile") Mobiles
                option(value="animal") Animals
                option(value="job") Jobs
                option(value="furniture") Furniture
                option(value="electronic") Electronics And home appliances
                option(value="service") Services
                option(value="book") Books , sports and hobbies
                option(value="other") Others
        .form-group
            label(for="name") Product Name
            input(type="text" id="name" placeholder="Enter your product name").form-control
        .form-group
            label(for="description") Product Description
            textarea(rows="6" id="description" placeholder="Describe your product here...").form-control
        .form-group
            label(for="location") Location
            input(type="text" id="location" placeholder="Enter your location e.g city or area").form-control
        .form-group
            label(for="price") Price
            input(type="number" id="price" min="0" step="1" placeholder="Expected price in $").form-control
        .custom-file
            input(type="file" id="file" name="file" multiple onChange="previewImages()").custom-file-input
            span.form-hint You can select multiple
            label(for="file").custom-file-label Upload product images
        .form-group
            input(type="submit").btn.btn-primary.mt-3
        .form-group
            #preview-images