.list-title{
    font-weight: bold;
    display: block;
}
.list-body{
    color: rgba(0,0,0,0.6);
}
.list-flex{
    display: flex !important;
}
.list-item-left{
    flex: 1;
}
.icon-sm{
    width: 15px;
}


/* Post Add Styles */
#post-ad-form{
    margin: 0 auto;
    width: 600px;
}
.form-hint{
    color: grey;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -10px;
}
#preview-images{
    overflow: auto;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
}
.preview-image{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width: 767px){
    #post-ad-form{
        width: 100%;
    }
}