.child-center{
    justify-content: center;
}
.box{
    padding: 10px;
}

.category-box{
    padding: 0;
    border: 1px solid black;
    position: relative;
}
.category-title-label, .category-title-label:hover{
    color: var(--font-color-light);
    text-decoration: none;
}
.category-title-label{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    background: var(--theme-color-success);
}
.inner-box a img{
    height: 150px;
}
.inner-box{
    box-sizing: border-box;
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.price-label{
    background: var(--theme-color-success);
    color: var(--font-color-light);
    position: absolute;
    top: 20px;
    right: -20px;
    padding: 5px 20px;
    transform: rotate(40deg);
}
.check-item-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 !important;
}