@import "../../variables.scss";

.slick-slide > div {
  margin-right: 5px;
}

#product-slider-container > div {
  margin-bottom: 10px;
}

#product-slider-container > div >  h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 0;
}

#product-slider-container .arrow-container {
  text-align: right;
  font-size: 16px;
  margin-top: $extraSmallMargin;
}

#product-slider-container .arrow-container > * {
  font-size: 2em;
  margin: 0 5px;
  cursor: pointer;
  transition: all 300ms linear;
}

#product-slider-container .arrow-container > *:active {
  color: $primary;
}
