@import "../../variables.scss";

.product-card {
  text-align: center;
}

.product-card-banner {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.product-card .category {
  color: $lightGrey;
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 0.9em;
}

.product-card .title {
  color: $black;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.product-card .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .price-container * {
  padding-left: $extraSmallPadding;
  padding-right: $extraSmallPadding;
}

.product-card .price-container .active {
  color: $danger;
  font-weight: bold;
  font-size: 1.2em;
}

.product-card .price-container .real {
  font-size: 0.85em;
  color: $lightGrey;
  font-weight: bold;
  text-decoration: line-through;
}

@media (max-width: 500px) {
  .product-card .card-body button {
    display: block;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .product-card .card-body button:last-child {
    margin-top: 5px;
  }
}
