@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100vh;
}

.auth-addon-icon {
  color: $lightGrey;
  position: relative;
  transition: all 500ms ease;
  left: 0;
}

.auth-addon-icon.active {
  color: $iconActive;
  left: -5px;
}

.auth-profile-picture {
  width: 150px;
  border-radius: 100%;
}

.link,
.link:hover {
  color: white;
  text-decoration: none;
}
